.MuiAppBar-root {
  height: 64px; /* Adjust height if necessary */
}
.css-1ypv6od-MuiButtonBase-root-MuiListItem-root:hover {
  color: rgb(93 100 173) !important;
}
.css-1s9hy9c-MuiTypography-root {
  border-bottom: 2px solid #80808021 !important;
  font-weight: bold !important;
  color: black !important;
  background-color: #ebebeb40 !important;
}
.css-1yxt4z4-MuiList-root {
  /* background-color: #aaaaaac2 !important; */
  border-right: 1px solid #80808021;
  /* box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3); */
  /* border: 1px solid #ccc; Optional border for visual reference */
}
.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  border-bottom: 1px solid #80808021 !important;
}
.css-1wlgf0q {
  height: 65px !important;
  /* background-color: white !important; */
  border-bottom: 2px solid #80808021 !important;
}
.css-1ct5mxn {
  margin-top: 0 !important;
}
.css-cuefkz-MuiContainer-root {
  max-width: 100% !important;
  height: 70vh !important;
}
.css-b937i3-MuiTypography-root {
  color: black !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #485872 !important;
  color: black !important;
}
